/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  .search-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  /* Services Page */
  .services-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  /* Categories Page */
  .categories-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  /* Tutorials Page */
  .tutorials-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  div .tutorial-body {
    border-width: 2;
    border-style: ridge;
  }
  
  /* categories.css */

.main-content {
  margin-top: 20px;
}

.list-group {
  margin-bottom: 20px;
}

.list-group-item {
  cursor: pointer;
  border-radius: 0;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-3 {
  margin-top: 1rem;
}

p {
  margin-bottom: 20px;
}
