/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  .search-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  .search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  /* Services Page */
  .services-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  /* Categories Page */
  .categories-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  /* Tutorials Page */
  .tutorials-page {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  